@{
    DexCMS.Base.Models.PageContent pageContent = ViewBag.PageContent;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    @RenderSection("head", required: false)
}

<div class="before-content">
    @Html.Partial("_ImagesAll", new ViewDataDictionary { { "PageContent", pageContent }, { "ImageType", "Gallery" } })
    @RenderSection("beforeContent", required: false)
</div>
<section class="content">
    <h2 class="content-title">@pageContent.Heading</h2>

    @Html.Raw(pageContent.Body)


    @RenderBody()
</section>
<div class="after-content">
    @Html.Partial("_ContentBlocksAll", pageContent)

    @RenderSection("afterContent", required: false)
</div>
@section scripts {
    @RenderSection("scripts", required: false)
}