@{
    DexCMS.Base.Models.PageContent pageContent = ViewBag.PageContent;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    @RenderSection("head", required: false)
}

<section class="before-content">
    @Html.Partial("_ImagesAll", new ViewDataDictionary { { "PageContent", pageContent }, { "ImageType", "Gallery" } })

    @Html.Partial("_ContentBlocksAll", pageContent)


    @RenderSection("beforeContent", required: false)
</section>
<section class="content">
    <strong>Right Sidebar Only</strong>
    <h2 class="content-title">@pageContent.Heading</h2>

    @Html.Raw(pageContent.Body)


    @RenderBody()
</section>
<section class="after-content">
    @RenderSection("afterContent", required: false)
</section>
@section scripts {
    @RenderSection("scripts", required: false)
}