@using DexCMS.Core;
@using DexCMS.Core.Mvc.HtmlHelpers;
@{
    DexCMS.Base.Models.PageContent pageContent = ViewBag.PageContent;
    string mainClass = "";
    if (pageContent.LayoutTypeID.HasValue)
    {
        mainClass = pageContent.LayoutType.CssClass;
    }
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.PageContent.PageTitle - @SiteSettings.Resolve.GetSetting("SiteTitle")</title>
    <meta name="keywords" content="@SiteSettings.Resolve.GetSetting("MetaKeywords") @ViewBag.PageContent.MetaKeywords" />
    <meta name="description" content="@pageContent.MetaDescription" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href='//fonts.googleapis.com/css?family=Almendra+SC|Handlee' rel='stylesheet' type='text/css'>

    <script>
        var DEXCMS_GLOBALS = { ROOT_PATH: "@(new Uri(Request.Url, Url.Content("~/")))" };
    </script>
    
    @DexCMSRender.StylesWithVersion("~/libs/datetimepicker/jquery.datetimepicker.css")
    @DexCMSRender.StylesWithVersion("~/libs/datetimepicker/jquery.datetimepicker.css")
    @DexCMSRender.StylesWithVersion("~/libs/flexslider/flexslider.css")
    @DexCMSRender.StylesWithVersion("~/content/site.css")
    @DexCMSRender.ScriptsWithVersion("~/libs/modernizr/modernizr.js")

    @if (pageContent.ContentStyles != null && pageContent.ContentStyles.Count > 0)
    {
        foreach (var style in pageContent.ContentStyles)
        {
            @DexCMSRender.StylesWithVersion("~?" + style.Path);
        }
    }

    @RenderSection("head", required: false)
    @Html.Partial("Core/_AnalyticsTracking")

</head>
<body>
    <div id="topbar">
        <div id="nav-toggle">
            <a id="sidemenu-toggle" href="#" alt="Menu Icon">
                <span class="fa fa-bars"></span>
            </a>
        </div>
        @Html.Partial("Core/_SocialLinks")
        @Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, new { title = "Contact" })
        @Html.Partial("Core/_LoginTop")
    </div>
    <nav id="sidemenu">
        @Html.Partial("_NavigationLinks")
    </nav>
    <div id="overlay">
        <header id="header">
            <a href="@Url.Action("Index", "PublicContent", new { area = "" })" title="Home">
                <h1>@SiteSettings.Resolve.GetSetting("SiteTitle")</h1>
                <span>@SiteSettings.Resolve.GetSetting("TagLine")</span>
            </a>
            <nav id="top">
                @Html.Partial("_NavigationLinks")
            </nav>
        </header>

        @Html.Partial("Alerts/_AlertsToast")

        <main class="@mainClass">
            @RenderSection("beforeContent", required: false)

            @RenderBody()

            @RenderSection("afterContent", required: false)
        </main>
        <footer>
            <span>Copyright &copy; @DateTime.Now.Year Content by Example Site, Design & Code by <a href="http://www.chrisbyram.com" target="_blank" title="Chris Byram Solutions">Chris Byram</a></span>
        </footer>

    </div>

    @DexCMSRender.ScriptsWithVersion("~/libs/jquery/jquery.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/jquery-ui/jquery-ui.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/flexslider/jquery.flexslider-min.js")
    @DexCMSRender.ScriptsWithVersion("~/scripts/dexcms/core/highlightnav/highlightnav.min.js")
    @DexCMSRender.ScriptsWithVersion("~/scripts/dexcms/core/sidemenu/sidemenu.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/jquery-validation/jquery.validate.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/datetimepicker/jquery.datetimepicker.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/respond/respond.min.js")
    @DexCMSRender.ScriptsWithVersion("~/scripts/site.js")


    @if (pageContent.ContentScripts != null && pageContent.ContentScripts.Count > 0)
    {
        foreach (var script in pageContent.ContentScripts)
        {
            @DexCMSRender.ScriptsWithVersion("~/" + script.Path)
        }
    }

    @DexCMSRender.ScriptsWithVersion("~/scripts/dexcms/alerts/alertstoast.js")

    @RenderSection("scripts", required: false)
</body>
</html>