@using DexCMS.Core.Infrastructure;
@using DexCMS.Core.Mvc.HtmlHelpers;
@{
    DexCMS.Base.Models.PageContent pageContent = ViewBag.PageContent;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.PageContent.PageTitle - @SiteSettings.Resolve.GetSetting("SiteTitle")</title>
    <meta name="keywords" content="@SiteSettings.Resolve.GetSetting("MetaKeywords") @ViewBag.PageContent.MetaKeywords" />
    <meta name="description" content="@pageContent.MetaDescription" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href='//fonts.googleapis.com/css?family=Almendra+SC|Handlee' rel='stylesheet' type='text/css'>

    @DexCMSRender.StylesWithVersion("~/libs/datetimepicker/jquery.datetimepicker.css")
    @DexCMSRender.StylesWithVersion("~/libs/datetimepicker/jquery.datetimepicker.css")
    @DexCMSRender.StylesWithVersion("~/libs/flexslider/flexslider.css")
    @DexCMSRender.StylesWithVersion("~/libs/font-awesome/css/font-awesome.min.css")
    @DexCMSRender.StylesWithVersion("~/content/site.css")
    @DexCMSRender.ScriptsWithVersion("~/libs/modernizr/modernizr.js")

    @if (pageContent.ContentStyles != null && pageContent.ContentStyles.Count > 0)
    {
        foreach (var style in pageContent.ContentStyles)
        {
            @DexCMSRender.StylesWithVersion("~?" + style.Path);
        }
    }

    @RenderSection("head", required: false)
    @Html.Partial("Core/_AnalyticsTracking")
</head>
<body>
    <div id="topbar">
        <div id="nav_toggle">
            <a id="sidemenu_toggle" href="#" alt="Menu Icon">
                <span class="fa fa-bars"></span>
            </a>
        </div>
        @Html.Partial("Core/_SocialLinks")
        @Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, new { title = "Contact" })
        @Html.Partial("Core/_LoginTop")
    </div>
    <nav id="sidemenu">
        @Html.Partial("_NavigationLinks")
    </nav>
    <main id="overlay">
        <header id="header">
            <a href="@Url.Action("Index", "PublicContent", new { area = "" })" title="Home">
                <h1>@SiteSettings.Resolve.GetSetting("SiteTitle")</h1>
                <span>@SiteSettings.Resolve.GetSetting("TagLine")</span>
            </a>
            <nav id="top">
                @Html.Partial("_NavigationLinks")
            </nav>
        </header>

        @Html.Partial("Alerts/_AlertsToast")

        <section id="main">
            @RenderBody()
        </section>

        @if (pageContent.ContentBlocks != null && pageContent.ContentBlocks.Count > 0)
            {
                foreach (DexCMS.Base.Models.ContentBlock item in pageContent.ContentBlocks.OrderBy(x => x.DisplayOrder))
                {
                <section id="blocks" class="@item.CssClass">
                    @if (item.ShowTitle)
                    {
                        <h3>@item.BlockTitle</h3>
                    }
                    @Html.Raw(item.BlockBody)
                </section>
            }
        }

        <footer>
            <span>Copyright &copy; @DateTime.Now.Year Content by Example Site, Design & Code by <a href="http://www.chrisbyram.com" target="_blank" title="Chris Byram Solutions">Chris Byram</a></span>
        </footer>

    </main>

    @DexCMSRender.ScriptsWithVersion("~/libs/jquery/jquery.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/jquery-ui/jquery-ui.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/flexslider/jquery.flexslider-min.js")
    @DexCMSRender.ScriptsWithVersion("~/scripts/dexcms/core/highlightnav.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/jquery-validation/jquery.validate.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/datetimepicker/jquery.datetimepicker.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/respond/respond.min.js")
    @DexCMSRender.ScriptsWithVersion("~/scripts/site.js")


    @if (pageContent.ContentScripts != null && pageContent.ContentScripts.Count > 0)
    {
        foreach (var script in pageContent.ContentScripts)
        {
            @DexCMSRender.ScriptsWithVersion("~/" + script.Path)
        }
    }

    @DexCMSRender.ScriptsWithVersion("~/scripts/dexcms/alerts/alertstoast.js")

    @RenderSection("scripts", required: false)
</body>
</html>